<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/build/libs/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/build/libs/bootstrap.min.js"></script>
</head>
<body>
{{#unless notLoggedIn}}
    {{> navbar}}
{{/unless}}

{{{body}}}

{{#unless notLoggedIn}}
    <script src="/javascripts/build/logout.js"></script>
{{/unless}}
</body>
</html>
