<form id="login-form">
    <table>
        <tr>
            <td><span>E-mail</span></td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td><span>Password</span></td>
            <td><input name="password" type="password"></td>
        </tr>
    </table>
    <input type="submit">
</form>
<p id="errors"></p>

<script src="javascripts/build/login.js"></script>