{{> title subtitle="Products"}}

{{#each groupedProductMap}}
    <div class="category-container">
    <h3>{{@key}}</h3>
    {{#each this}}
        <div class="item-container">
            <p>Name: {{name}}</p>
            <p>Price: {{price}}</p>
            <p>Category: {{category.type}}</p>
        </div>
    {{/each}}
    </div>
{{/each}}