<a href="/products/">Products</a>

{{> title subtitle="Product"}}

<div class="item-container">
    <p>Name: {{product.name}}</p>
    <p>Price: {{product.price}}</p>
    <p>Category: {{product.category.type}}</p>
</div>