body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logout {
  float: right;
}

#user-indicator {
  padding-top: 2px;
}

.category-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.item-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: whitesmoke;
  margin-bottom: 10px;
}

.item-container > p > a {
  color: black;
}